.formControl.error input,
.formControl.error textarea {
  border: solid 1px red ;
}

.formControl.error span {
  color: #003cff;
}

.formSummaryError {
  border: solid 3px red ;
  padding: 3px;
  color: #fbff00;
}